<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>
<style>
    .glowing-border {
    border: 2px solid #00ffff; /* initial glow color */
    border-radius: 10px;
    box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff;
    animation: glowAnimation 2s infinite alternate;
    padding: 20px; /* optional, for spacing */
    background-blur
        /* background-color: rgba(255, 255, 255, 0.2) */
}

@@keyframes glowAnimation {
    0% {
        box-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff;
    }
    100% {
            box-shadow: 0 0 20px #f8a201, 0 0 40px #f8a201, 0 0 60px #f8a201;
    }
}

    .logoshield {
        font-size: 60px;
        background: linear-gradient(to right, #f8df99, #e9bd45, #f8a201);
        /* orange to pink */
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .logotext {
        font-size: 48px;
        font-weight: bold;
        background: linear-gradient(to right, #ff6a00, #ee0979);
        /* orange to pink */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
</style>

<body>
    @RenderBody()
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script> -->
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/js/Toastify.js"></script>
    
    <!-- <script src="lib/font-awesome/js/all.min.js"></script> -->
</body>

</html>